// Colors
$black: #111;
$grey: #555;

// Fonts
$font1: 'Gayathri', sans-serif;
$font2: 'Raleway', sans-serif;
$font3: 'Lexend Deca', sans-serif;

// Tooling
$testBorder1: 5px dashed #59E259;
$testBorder2: 5px dashed red;